@page "/dataplatform"



<PageTitle>ATLAS DATA Platform</PageTitle>

<h1>ATLAS DATA Platform</h1>

<p>This component demonstrates fetching data from a service.</p>
<p>A Master Data Management tool is a vital layer within your data platform to ensure you feed your warehouse with quality data.</p>
